.ReviewTotalDiv {
    width: 100%;
    height: 100%;
    display: flex;
}
.ReviewWrapdiv {
    width: 80%;
    height: 1000px;
    position: relative;
}

.myReviewBody{
    width: 1100px;
    height: 190px;
    padding: 15px;
    padding-left: 25px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 10px 50px;
    display: flex;
}
.reviewPng{
    width: 20px;
    height: 20px;
}
.moviePoster {
    border-radius: 5px;
    margin-right: 50px;
    margin-top: 10px;
}
.reviewTitle{
    margin-top: 40px;
}
.ReviewWrapdiv > p{
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 40px;
}
.ReviewWrapdiv h2{
    margin: 200px 550px;
    width: 100%;
}
.reviewPageContent{
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-top: 40px;
}