.PagingDiv {
    position: absolute;
    bottom: 0;
    background: #171717;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-bottom: 30px;
    margin-left: 100px;
}
.PagingButton {
    color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 12px;
}
.PagingButton.active {
    color: #7857bd;
    font-weight: bold;
    cursor: default;
}
.ArrowButton {
    color: #ffffff;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background: none;
    
}
.PagingButton:hover {
    text-decoration: underline;
}
