.SearchWrapdiv {
    width: 100vw;
    margin: 10px;
    margin-right: 15px;

    &>h1 {
        margin: 10px 30px;
        font-size: 27px;
    }

    &>h2 {
        margin-top: 200px;
        text-align: center;
    }
}
.SearchWrapdiv span{
    color: #7857bd;
}

.movieList {
    display: grid;
    grid-template-columns: repeat(7, minmax(180px, 1fr));
    gap: 25px;
    margin: 0 15px;
    justify-content: start;
}

.poster {
    flex: 0 1 180px;
    max-width: 180px;
    height: 270px;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
    overflow: hidden;
}

.poster:hover {
    transform: translateY(-15px);
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

.poster .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 270px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.poster:hover .overlay {
    opacity: 1;
}

.overlay button {
    background-color: #381E72;
    border: none;
    margin: 10px 7px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    width: 80px;
    height: 28px;
    z-index: 2;
}

.overlay button:hover {
    background-color: #7857bd;
}

.SearchListDiv {
    display: grid;
    grid-template-columns: repeat(7, minmax(180px, 1fr));
    gap: 30px;
    margin: 0 30px;
    justify-content: start;
}

.SearchImgDiv {
    flex: 0 1 180px;
    width: 180px;
    height: 270px;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
}

.SearchImgDiv:hover {
    transform: translateY(-15px);
}


.SearchImgDiv:nth-child(7n) {
    margin-right: 0;
}

.SearchModalWrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.SearchModalButton {
    width: 60px;
    min-height: 28px;
    font-size: 12px;
    background-color: #381E72;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom: 10px;
    margin-bottom: 10px;

    &:hover {
        background: #7857bd;
    }
}

.Searchinfo {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.SearchInfodiv {
    position: fixed;
    width: 50%;
    height: 100%;
    font-size: 12px;
    background-color: #171717;
    border-radius: 10px;
    left: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow-y: auto;
}

.SearchInfo1 {
    width: 50%;
    min-height: 40%;

    &>span {
        cursor: pointer;
        margin-left: 5px;
        font-size: 30px;
    }

    &>div {
        margin-left: 10%;
        margin-top: 50%;
    }
}

.SearchInfo1>div>button {
    width: 80px;
    min-height: 28px;
    font-size: 12px;
    background-color: #381E72;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: #7857bd;
    }
}

.SearchInfo2 {
    width: 50%;
    min-height: 40%;
    text-align: center;

    &>img {
        width: 310px;
        height: 350px;
        margin-top: 40px;
    }
}

.SearchInfo3 {
    width: 50%;
    min-height: 40%;
    position: relative;
    margin-top: 5%;


    &>div {
      width: 80%;
      height: 80%;
      text-align: center;
      font-size: 20px;
      margin: 0 auto;
    }
}

.SearchInfo4 {
    width: 50%;
    min-height: 40%;

    &>h1 {
        transform: translateX(30px);
    }

    &>div {
        margin-bottom: 10px;
        margin-left: 30px;
    }
}

.SearchInfo4>div>p>img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.SearchInfo5 {
    width: 100%;
    min-height: 20%;
    margin-top: 10%;
}