html, .login_body {
    margin: 0;
    padding: 0;
}
.login_body{
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImg {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
}


.login{
    width: 500px;
    height: 500px;
    border-style: none; 
    border-radius: 30px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff35;
    opacity: 1;
    z-index: 1;    
}
.sign{
    width: 800px;
    height: 600px;
    border-style: none; 
    border-radius: 30px;
    margin: auto;
    padding: 0px;
    background-color: #ffffff35;
    opacity: 1;
    z-index: 1;
}
.title_movie {
    padding-top: 20px;
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-weight: bold;
    font-size: 80px;
    color: #7857bd;
    cursor: default;
}
.login_from {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
.login_from div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_from {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.sign_from div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input_id{
    width: 250px;
    height: 40px;
    margin-bottom: 30px;
    border-style: none;
    border-radius: 20px;
    background-color: #ffffff69;
    padding-left: 20px;
    outline: none;
}
.loginpwdBtn{
    width: 250px;
    height: 40px;
    margin-bottom: 30px;
    border-style: none;
    border-radius: 20px;
    background-color: #ffffff69;
    padding-left: 20px;
    outline: none;
    display: flex;
    align-items: center;
}
.loginpwdBtn img{
    width: 20px;
    height: 20px;
}
.loginpwdBtn button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.input_pwd{
    background-color: transparent;
    outline: none;
    cursor: default;
    border: none;
    margin-right: 20px;
}
.login_btn {
    width: 80px;
    height: 30px;
    background-color: #7757bd76;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
}
.sign_btn {
    width: 80px;
    height: 30px;
    background-color: #7757bd76;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    margin: 20px auto;
}
.login_btn:hover, .sign_btn:hover{
    background-color: #7757bdcb;
    cursor: pointer;
    text-decoration: underline;
}
.sign_btn_container {
    display: flex;
    justify-content: center;
}

.slmpleBtn{
    margin: 25px 0;
    display: flex;
}
.slmpleBtn button{
    border-style: none;
    background-color: transparent;
}
.slmpleBtn img{
    width: 60px;
}
.userBtn{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.userBtn button{
    border-style: none;
    background-color: transparent;
    color: #ffffff;
}
.userBtn button:hover{
    cursor: pointer;
    text-decoration: underline;
}
.input_text{
    width: 250px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 5px;
    border-style: none;
    border-radius: 20px;
    background-color: #ffffff69;
    padding-left: 20px;
    outline: none;
    box-sizing: border-box;
}
.imgBtn{
    width: 250px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    border-style: none;
    border-radius: 20px;
    background-color: #ffffff69;
    padding-left: 20px;
}
.imgBtn img{
    width: 20px;
    height: 20px;
}
.imgBtn button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.img_text {
    background-color: transparent;
    outline: none;
    cursor: default;
    border: none;
    margin-right: 20px;
}
.emailBtn{
    font-size: 10px;
    color: #ffffff;
}
.addrBtn{
    width: 250px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    border-style: none;
    border-radius: 20px;
    background-color: #ffffff69;
    padding-left: 20px;
}

.addrBtn img{
    width: 20px;
    height: 20px;
}
.addrBtn button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.addr_text {
    width: 200px;
    background-color: transparent;
    outline: none;
    cursor: default;
    border: none;
}
.loginIng{
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: #ffffff;
    color: #000000;
    font-size: 30px;
}
.error_message{
    font-size: 12px;
    margin-top: 2px;
    font-weight: lighter;
    animation: shake 0.3s ease-in-out;
    animation-iteration-count: 1;
    color: #ffffff;
    background-color: #000000;
    padding: 5px;
    border-radius: 5px;
}
@keyframes shake {
    0% {transform: translateX(0);}
    25% {transform: translateX(-3px);}
    50% {transform: translateX(3px);}
    75% {transform: translateX(-3px);}
    100% {transform: translateX(3px);}
}
.kakao_mypagePwd{
    width: 100%;
    display: flex;
    flex-direction : column;
    align-items: center;
    margin-top: 100px;
}
.kakao_infoPwdMain{
    width: 100%;
    min-width: 300px;
    height: 400px;
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction : column;
    align-items: center;
    
}
.kakao_mypagePwd p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.kakao_loginpwdBtn{
    width: 180px;
    height: 35px;
    margin-bottom: 15px;
    border: 2px solid #6f6f6f7a;
    border-radius: 20px;
    background-color: transparent;
    padding-left: 20px;
    outline: none;
    color: #ffffff;
    position: relative;
}
.kakao_input_pwd{
    border: none;
    width: 120px;
    color: #ffffff;
    background-color: transparent;
    margin-top: 6px;
    outline: none;
}
.kakao_infopwdeye{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20%;
}
.kakao_infopwdeye img{
    width: 20px;
    height: 20px;
}
.kakao_infoPwdBtn {
    width: 80px;
    height: 30px;
    background-color: #381E72;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 20px;
}
.kakao_infoPwdBtn:hover{
    background-color: #7857bd;
    cursor: pointer;
}

.findId_from {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 세로 중앙 정렬 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정확한 중앙 배치 */
    width: 100%; /* 너비 조정 */
    text-align: center;
}

.findId_btn {
    width: 80px;
    height: 30px;
    background-color: #7757bd76;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 300px;
}
.findId_btn:hover{
    background-color: #7757bdcb;
    cursor: pointer;
    text-decoration: underline;
}
.findId_btn_container {
    display: flex;
    justify-content: center;
}