.mypagePwd, .mypage{
    display: flex;
}
.infoPwdMain{
    min-width: 300px;
    margin: auto;
    display: flex;
    flex-direction : column;
    align-items: center;
}
.infoPwdMain p{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 30px;
}
.input_id{
    width: 200px;
    height: 40px;
    border: 2px solid #6f6f6f7a;
    border-radius: 20px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    color: #ffffff;
}
.loginpwdBtn{
    width: 200px;
    height: 40px;
    border: 2px solid #6f6f6f7a;
    border-radius: 20px;
    background-color: transparent;
    padding-left: 20px;
    outline: none;
    color: #ffffff;
}
.infopwdeye{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    left: 50px;
}
.infopwdeye img{
    width: 20px;
    height: 20px;
}
.input_pwd{
    border: none;
    width: 120px;
    color: #ffffff;
}
.infoPwdBtn {
    width: 80px;
    height: 30px;
    background-color: #381E72;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 20px;
}
.infoPwdBtn:hover{
    background-color: #7857bd;
    cursor: pointer;
}

.infoMain{
    min-width: 700px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    position: relative;
}
.infoMain > div:first-child{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.saveBtn{
    width: 70px;
    height: 30px;
    padding: 4px;
    border-radius: 5px;
    border-color: transparent;
    margin: auto;
    margin-top: 90px;
    background-color: #381E72;
    color: #ffffff;
}
.saveBtn:hover{
    cursor: pointer;
    background-color: #7857bd;
    text-decoration: underline;
}
.delBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 30px;
    padding: 4px;
    border-radius: 5px;
    border-color: transparent;
    margin: auto;
    background-color: #323131;
    color: #ffffff;
}
.delBtn:hover{
    cursor: pointer;
    background-color: #4f4f4f;
    text-decoration: underline;
}
.deleteBtn{
    width: 100px;
}
.infoMain > div:last-child{
    width: 300px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.infoMain > div:last-child img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border-color: transparent;
    background-color: white;
    margin: 30px auto;
    flex-shrink: 0;
    overflow: hidden;
}

.infoMain > div:last-child button{
    width: 100px;
    height: 30px;
    padding: 4px;
    border-radius: 5px;
    border-color: transparent;
    margin: auto;
    margin-top: 90px;
    background-color: #381E72;
    color: #ffffff;
}
.infoMain > div:last-child button:hover{
    cursor: pointer;
    background-color: #7857bd;
    text-decoration: underline;
}
.infodata{
    width: 200px;
    height: 30px;
    margin: 10px auto;
    margin-left: 30px;
    outline: none;
    border-width: 0 0 1px;
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
}
.infoMain span{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoMain span span{
    width: 100px;
}

.pwdImgBtn{
    width: 200px;
    height: 30px;
    margin: 10px auto;
    margin-left: 30px;
    outline: none;
    border-width: 0 0 1px;
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    border-style: solid;
}
.pwdImgBtn img {
    width: 20px;
    height: 20px;
}
.pwdImgBtn button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.pwdImgBtnNew{
    background-color: transparent;
    color: #ffffff;
    outline: none;
    border-style: none;
}

.error_message{
    font-size: 12px;
    margin-top: 2px;
    font-weight: lighter;
    animation: shake 0.3s ease-in-out;
    animation-iteration-count: 1;
    color: #ffffff;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}
@keyframes shake {
    0% {transform: translateX(0);}
    25% {transform: translateX(-3px);}
    50% {transform: translateX(3px);}
    75% {transform: translateX(-3px);}
    100% {transform: translateX(3px);}
}