
.ticketCon{
    display: flex;
    margin: 30px;
    width: 100%;
    justify-content: center;
    gap: 50px;
    color: #ffffff;
}
.ticketCon > *{
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    height: 500px;
}
.ticketDate{
    width: 200px;
    min-width: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ticketDate button{
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    background-color: transparent;
    border-style: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
.ticketDate button:hover{
    background-color: #381E72;
    border-radius: 10px;
}
.ticketDate button.selected {
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    background-color: #381E72;
}
.cinema{
    width: 250px;
    min-width: 250px;
    overflow-y: auto;
    padding: 30px;
}

.cinema button{
    width: 60px;
    height: 35px;
    flex-shrink: 0;
    background-color: #a0a0a0;
    border-style: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
.cinema button:hover{
    background-color: #777777;
    border-radius: 10px;
}
.cinema button.selected {
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    background-color: #381E72;
}
.cinemaA{
    width: 100%;
    min-height: 150px;
    height: auto;
}
.cinemaB{
    width: 100%;
    height: 150px;
}
.cinemaC{
    width: 100%;
    height: 150px;
}
.buyTicket{
    width: 500px;
    border-style: none;
}
.buyTicketImg{
    width: 166.67px;
    height: 250px;
    background-color: #888;
    margin-top: 25px;
    margin-right: 30px;
}
.buyTicket > div:first-child{
    display: flex;
    align-items: flex-end;
}
.buyTicketTitle{
    margin-top: 30px;
    font-size: 23px;
    margin-bottom: 15px;
    font-weight: bold;
}
.buyTicketActors{
    margin-top: 10px;
}
.buyTicketDate{
    margin-top: 50px;
    margin-bottom: 10px;
}
.buyTicketCinema{
    margin-bottom: 50px;
}
.buyTicket button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    width: 130px;
    height: 40px;
    background: #381E72;
    color: #ffffff;
    display: block;
    margin: 0 auto;
}
.buyTicket button:hover {
    background: #6a0dad;
}



.ticketSeat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #ffffff;
}

/* 좌석 박스 (스크린 + 좌석) */
.ticketSeatBox {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    border-color: #a0a0a0;
    border-style: solid;
    border-width: 1px;
    width: 900px;
}

/* 스크린 뷰 */
.screenView {
    color: #ffffff;
    width: 70%;
    height: 30px;
    background: #999999;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 좌석 배치 */
.seatBox {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding: 10px;
}

/* 한 줄(가로) 좌석 */
.seatRow {
    display: flex;
    gap: 10px;
}
/* 특정 좌석 위치에서 간격을 더 추가 */
.seat:nth-child(2),
.seat:nth-child(8) {
    margin-right: 20px; /* 중간 간격 넓히기 */
}

/* 좌석 스타일 */
.seat {
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
}

/* 예매 가능 좌석 */
.possibleSeat {
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
}

.possibleSeat:hover {
    background: #f0f0f04b;
}

/* 예매 완료 좌석 */
.impossibleSeat {
    background: #888;
    cursor: default;
}

/* 선택 좌석 */
.selectSeat {
    border-style: solid;
    border-color: #6a0dad;
    background-color: #6a0dad6a;
}
.selectSeat:hover{
    background-color: #6a0dadc1;
}

/* 좌석 설명 (가능, 완료, 선택) */
.seatEx {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    gap: 20px; /* 항목 간격 */
    margin-top: 20px;
    align-self: flex-start;
}

.seatEx div {
    display: flex;
    align-items: center; /* 텍스트와 박스를 수직 정렬 */
    gap: 10px; /* 텍스트와 박스 간격 */
    font-size: 12px;
}

.seatEx div div { /* 예시 좌석 스타일 */
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.seatEx .possibleSeat { /*예매가능좌석 예시*/
    border-style: solid;
    border-color: #a0a0a0;
    pointer-events: none;
}

.seatEx .impossibleSeat { /*예매완료좌석 예시*/
    background: #888;
}

.seatEx .selectSeat { /*선택좌석 예시*/
    border-style: solid;
    border-color: #6a0dad;
    background-color: #6a0dad6a;
}

/* 구매 섹션 */
.buySeat {
    margin-top: 20px;
    padding: 15px 50px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.selectDateInfo{
    max-width: 200px;
}

/* 구매 버튼 */
.buySeatBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
}

.resetbtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    width: 120px;
    height: 35px;
    background: #747474;
    color: #ffffff;
}
.resetbtn:hover {
    background: #5b5b5b;
}
.ticketBuyBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    width: 120px;
    height: 35px;
    background: #381E72; /* 보라색 */
    color: #ffffff;
}

.ticketBuyBtn:hover {
    background: #6a0dad; /* 보라색을 어두운 보라색으로 변경 */
}

.selectDateInfo{
    line-height: 30px;
}
.selectMovieInfo{
    display: flex;
    max-width: 350px;
}
.selectMovieInfo > div:last-child {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
}
.selectMovieInfo > div:last-child >  div:nth-of-type(2){
    margin-bottom: 10px;
}
.selectMovieInfo img{
    width: 100px;
    margin-right: 20px;
}
.amount{
    color: #6a0dad;
    font-weight: bold;
}

.payMentPage{
    width: 90%;
    height: 600px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin: 20px 40px;
}

.payMent{
    width: 80%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #a0a0a0;
    padding: 30px;
    min-width: 900px;
    max-width: 900px;
    overflow-y: auto;
}

.selectMovieInfoPayMent{
    display: flex;
    max-width: 600px;
}
.selectMovieInfoPayMent > div:last-child { /*영화정보*/
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 10px;
}
.selectMovieInfoPayMent > div:last-child >  div:first-child {/*영화제목*/
    margin-bottom: 20px;
}
.selectMovieInfoPayMent img{ /*포스터이미지*/
    width: 150px;
    height: 100%;
    margin-right: 40px;
}
.movieInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.movieInfo > div:last-child{ /*상영정보*/
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 300px;
    height: 100%;
    line-height: 35px;
    margin-right: 30px;
    font-size: 15px;
}
.movieInfo > div:last-child > div:last-child{
    text-align: right;
}
.payRadio{
    margin-top: 30px;

}
.payRadio h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
.payBtn label{
    font-size: 17px;
    margin-right: 30px;
}
.simplePayOptions{
    font-size: 15px;
    margin-top: 20px;
}
.simplePayOptions label{
    margin-right: 30px;
}
.payline{
    width: 100%;
    height: 1px;
    background-color: #a0a0a0;
    margin: 30px 0;
}

.payInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 20%;
    min-width: 250px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #a0a0a0;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
}
.payInfo > p:nth-of-type(2){
    margin-bottom: 100px;
}
.payInfo button{
    width: 90px;
    height: 40px;
    margin-top: 100px;
    background-color: transparent;
    border-style: none;
    color: #ffffff;
    cursor: pointer;
    background-color: #381E72;
    border-radius: 10px;
}
.payInfo button:hover{
    background-color: #6a0dad;
    border-radius: 10px;
}
.payInfo p{
    margin-bottom: 10px;
}

.payInfo > p:nth-of-type(1),.payInfo > p:nth-of-type(3){
    font-size: 15px;
    font-weight: lighter;
}
.payInfo > p:nth-of-type(2),.payInfo > p:nth-of-type(4){
    font-size: 25x;
    font-weight: bold;
}
.payInfo > p:nth-of-type(4){
    color: #854FFF;
}
.paymentNotice{
    margin-bottom: 20px;
    line-height: 30px;
}

.donePage{
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.donePage > div:first-child{
    font-size: 14px;
}
.done img{
    width: 220px;
    height: 330px;
    margin-right: 100px;
}
.done{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.doneInfo > div:nth-of-type(3){
    display: flex;
    gap: 100px;
    margin-top: 30px;
}
.doneInfo > div:nth-of-type(3) > div:first-child{
    line-height: 30px;
    
}
.doneInfo > div:nth-of-type(3) > div:last-child{
    line-height: 30px;
    text-align: right;
}
.doneTitle{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}
.doneInfo > div:nth-of-type(2){
    font-size: 15px;
    line-height: 20px;
}
.donePage button{
    width: 150px;
    height: 28px;
    border-style: none;
    background-color: #6a0dad;
    color: #ffffff;
    margin-top: 40px;
}